<% provide(:title, 'home') %>
<div class="center hero-unit">
	<h1>icebrg</h1>
	<h2>There's more to it than meets the eye!</h2>
	<%= link_to "Get started!", newice_path , :class => "btn btn-large btn-primary" %>
</div>