<footer class="footer">
	<small>
		<a href="http://twitter.com/jvarma">jayant varma</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "about icebrg", '#' %></li>
			<li><%= link_to "contact", '#' %></li>
			<li><%= link_to "terms of use", '#' %></li>
			<li><%= link_to "help", '#' %></li>
		</ul>
	</nav>
</footer>