<footer class="footer">
	<small>
		<a href="http://twitter.com/jvarma">jayant varma</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "about icebrg", about_path %></li>
			<li><%= link_to "contact", contact_path %></li>
			<li><%= link_to "terms of use", tou_path %></li>
			<li><%= link_to "help", help_path %></li>
		</ul>
	</nav>
</footer>