<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "icebrg", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "home",    root_path %></li>
          <li><%= link_to "help",    help_path %></li>
          <li><%= link_to "sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>